body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.home-image {
  width: 400px;
  height: 400px;
  margin-bottom: 30px;
  margin-top: 35px;
}

.home-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.home-title {
  margin-top: 35px;
}

.footer-container {
  text-align: center;
  margin-top: 25px;
}

footer {
  background-color: #89CFF0;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
}

.receipt-title {
  margin-top: 35px;
  margin-bottom: 30px;
}

.form-container {
  display: inline-block;
  text-align: initial;
}

.form {
  display: flex;
  flex-direction: row;
}

.left-form {
  margin-right: 100px;
}

.button-form {
  margin-top: 15px;
  text-align: center;
}

.receipt-pdf-container {
  text-align: center;
}

.receipt-container {
  border-radius: 10px;
  border: 1px solid black !important;
  padding: 20px;
  margin-bottom: 20px;
  text-align: left;
}

.back-button {
  text-align: center;
}

.description-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}